body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7ecd8; /* Cute pastel background */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #ff6f61; /* Cute pink color */
}

main {
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    font-style: italic;
    color: #888;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
